<template>
    <div class="hello">
        <h1>Simple WebSocket Example</h1>
        <textarea v-model="message" cols="50" placeholder="Message"></textarea><br>
        <button @click="send">ClickMe!</button>
    </div>
</template>

<script>
export default {
    name: 'HelloWorld',

    props: {
        msg: String
    },

    data() {
        return {
            socket: {},
            message: '',
        }
    },

    created() {
        const url = 'ws://localhost:8081'
        this.socket = new WebSocket(url)

        this.socket.onopen = () => {
            console.log("Connected to WebSocket server.")
        }

        this.socket.onclose = (event) => {
            if (event.wasClean) {
                console.log('Connection to server closed...')
            } else {
                console.log('Connection to server lost...')
            }

            console.log(`{ code: ${event.code}, reason: ${event.reason}`)
        }

        this.socket.onmessage = (event) => {
            console.log("Received data: " + event.data);
        }

        this.socket.onerror = (error) => {
            console.log("Error: " + error.message);
        }
    },

    methods: {
        send() {
            this.socket.send(this.message)
        }
    }
}
</script>

<style scoped>
h3 {
    margin: 40px 0 0;
}
button {
    background-color: #42b983;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
</style>
